@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import 'app';
@import 'editor';
@import 'preview';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: rgb(170, 20, 20);
  height: 100vh;
}




